@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=DM+Serif+Display:ital@1&family=Germania+One&family=Joan&family=Macondo&family=Passions+Conflict&family=Playball&family=Playfair+Display+SC&family=Playfair+Display:wght@600&family=Quicksand&display=swap');

body{
    background-image: url("/imagens/hotfundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h2{
    font-family: 'Playball', cursive;
    font-size: 4rem;
    color: #87cefa;
}


p{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #e3f4fe;
}

a {
    color: white;
}

.nave {
    background-color: rgb(60, 169, 212);
  }