@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=DM+Serif+Display:ital@1&family=Germania+One&family=Joan&family=Macondo&family=Passions+Conflict&family=Playball&family=Playfair+Display+SC&family=Playfair+Display:wght@600&family=Quicksand&display=swap');

body{
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
}

p{
    text-align: center;
    font-family: 'Joan', serif;
    font-size: 2rem;
}

.imagens{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.Cred{
    font-size: 2rem;
}